@import "tailwindcss";

:root {
  --background: #FFF9F0;
  --foreground: #171717;
  --NavBg: #111827;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--poppins);
}

h1,h2{
  font-family: var(--baloo-2);
}

nav li{
  position: relative;
}

nav li:after{
  content: "";
  background:#FFC107;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  transition: 0.5s ease all;
  height: 1px;
}

nav li:hover:after{
  width: 100%;
}

nav li.active:after {
  width: 100%;
}